*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --background: rgb(252, 247, 247);
  --input: rgb(245, 245, 245);
  --log: rgb(77, 182, 250);
  --facebook:  rgb(77, 93, 127);
  --white: rgb(255, 255, 255);
}

.container{
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  padding: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img{
  width: 60%;
}

.right{
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--white);
}

.up{
  border: 1px solid rgb(219, 219, 219);
  padding: 0.5rem;
}

.up img{
  margin-bottom: 0.8rem;
}

input, button{
  background: var(--input);
  border-radius: 5px;
  width: 90%;
}

input{
  margin-bottom: 0.7rem;
  padding: 12px 7px;
}

button{
  margin: 0.8rem 0;
  background: var(--log);
  color: var(--white);
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  width: 70%;
}

p{
  margin: 0.7rem 0;
}

.or{
  font-weight: bold;
  opacity: 0.5;
}

.facebook{
  color: var(--facebook);
  font-weight: 700;
  font-size: 18px;
}

.pass{
  margin-bottom: 0.3rem;
  font-size: 14px;
  color: var(--facebook);
  opacity: 0.8;
  font-weight: 500;
}

.down{
  border: 1px solid rgb(219, 219, 219);
  margin-top: 0.5rem;
  font-weight: 500;
  opacity: 0.8;
}

span{
  color: var(--log);
  opacity: 1;
}

.last{
  display: none;
}


@media screen and (max-width: 1024px){
  .container{
    display: flex;
    align-items: center;
    width: 90%;
    background: var(--background);
    height: 100vh;
    width: 100vw;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
  }

  .page{
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
  }

  .left img{
    width: 100%;
  }

  .right{
    padding-top: 3rem;
    text-align: center;
    align-items: center;
    background: var(--white);
  }

  .up{
    border: 1px solid rgb(219, 219, 219);
    padding: 1rem;
  }

  .up img{
    width: 80%;
  }

  input, button{
    background: var(--input);
    border-radius: 5px;
    width: 90%;
  }

  input{
    margin-bottom: 0.3rem;
    padding: 15px;
  }

  button{
    margin: 0.5rem 0;
    background: var(--log);
    color: var(--white);
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
  }

  p{
    margin: 1rem 0;
  }

  .or{
    font-weight: bold;
    opacity: 0.5;
  }

  .facebook{
    color: var(--facebook);
    font-weight: 700;
    font-size: 15px;
  }

  .pass{
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: var(--facebook);
    opacity: 0.8;
    font-weight: 500;
  }

  .down{
    border: 1px solid rgb(219, 219, 219);
    margin-top: 0.8rem;
    font-weight: 500;
    opacity: 0.8;
  }

  span{
    color: var(--log);
    opacity: 1;
  }

  .last{
    text-align: center;
    align-items: center;
  }

  .download{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
  }

  .download img{
    width: 100%;
  }
}

@media screen and (max-width: 600px){

  .container{
    width: 100%;
  }
  
  .wrapper{
    padding: 0 1rem;
  }

  .page{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .right{
    padding: 0.5rem;
  }

  .left{
    display: none;
  }
}

@media screen and (max-width: 300px){

  input{
    margin-bottom: 0.3rem;
    padding: 15px;
  }

  input::placeholder{
    font-size: 9px;
  }

  button{
    margin: 0.5rem 0 0.7rem;
    background: var(--log);
    color: var(--white);
    font-weight: 700;
    padding: 7px 3px;
    border-radius: 5px;
    font-size: 12px;
    width: 50%;
  }
  
  p{
    margin: 0.6rem 0;
  }

  .or{
    font-weight: bold;
    opacity: 0.5;
    font-size: 15px;
  }

  .facebook{
    color: var(--facebook);
    font-weight: 700;
    font-size: 13px;
  }

  .down{
    border: 1px solid rgb(219, 219, 219);
    margin-top: 0.8rem;
    font-weight: 500;
    opacity: 0.8;
    font-size: 13px;
  }
}
